<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org">Ruby On Rails Tutorial </a>
  is a project to make a book and screencats to thach web development
  with <a href="http://railstutorial.org">Ruby On Rails</a>. This
  is the sample application for ths tutorial.
</p>